@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  margin: 0;
  background: #222;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: red;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  height: 100px;
}

.welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.first {
  background-color: white;
}

.messi {
  width: 20%;
}

.second {
    background-color: red;
}

.ronaldo {
    width: 14%;
}

.third {
    background-color: white;
}

.rashford {
    width: 8%;
}

.fourth {
    background-color: red;
}

.ramos {
    width: 16%;
}

.fifth {
    background-color: white;
}

.zidane {
    width: 14%;
}

.sixth {
    background-color: red;
}

.smalling {
    width: 7%;
}

.seventh {
    background-color: white;
}

.neuer {
    width: 14%;
}

h1 {
    margin: 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: black;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: black;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
